body {
  padding: 0%;
  margin: 0%;
}

.first-section {
  padding: 30px;
  background-image: url("images/desktop/image-hero.jpg");
  height: 100vh;
  width: 95.55%;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
.nav-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

.nav-ul {
  display: flex;
}

li {
  list-style: none;
}

li a {
  color: white;
  margin-left: 20px;
  font-size: 15px;
}

.first-section-box {
  padding-left: 80px;
  padding-top: 65px;
}

.first-section-box button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 50px;
  width: 520px;
  text-align: start;
  padding: 30px;
  padding-right: 100px;
}
.vr-container-wrapper {
  padding-left: 110px;
  padding-top: 80px;
}

.vr-text-wrapper {
  position: absolute;
  margin-top: -300px;
  margin-left: 550px;
  width: 500px;
  z-index: 2;
  background-color: white;
  padding: 50px;
  padding-left: 70px;
}

.vr-text-wrapper h2 {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 20px;
}

.vr-text-wrapper {
  font-size: 0.9rem;
  color: #777;
  line-height: 1.6;
}

.third-section {
  padding-top: 190px;
}

.our {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 550px;
  padding: 50px;
}

.our h2 {
  font-size: 40px;
  font-weight: 100;
}

.our button {
  background-color: white;
  border: 1px solid black;
  width: 150px;
  height: 50px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 30px;
}

.gallery p {
  position: absolute;
  margin-top: -97px;
  color: white;
  margin-left: 60px;
  font-size: 27px;
  width: 100px;
}

footer {
  background-color: black;
  height: 40vh;
  padding-top: 20px;
  margin-top: 100px;
  padding: 80px;
}

.loop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.socials {
  display: flex;
  gap: 20px;
}

.socials img {
  width: 40px;
}

footer h3 {
  color: white;
}

footer a {
  margin-right: 20px;
  color: white;
}

.menu {
  display: none;
}

.links {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 440px) {

  .first-section{
  background-image: url("images/desktop/image-hero.jpg");
  height: 60vh;
  width: 135%;
  }
  
  .nav-ul{
    display: none;
  }


  .menu{
    display: block;
  }

  .first-section-box button {
    width: 450px;
  }

  .vr-container-wrapper{
    padding-bottom: 200px;
    margin-left: -20px;
  }


  .vr-container-wrapper img {
    width: 450px;
    margin-left: 20px;
  }

  .vr-text-wrapper{
    margin-left: -90px;
    margin-top: 10px;
    text-align: center;
  }

  .our{
    display: none;
  }

  .gallery{
    display: none;
  }

  footer{
    width: 112.5%;
    height: 65vh;
  }

  .loop{
    flex-direction: column;
    gap: 30px;
  }

  .links {
    flex-direction: column;
  }

  .links a{
    font-size: 30px;
    text-align: center;
  }
  
  h3{
    font-size: 20px;
  }


}

@media screen and (max-width: 393px) {
  .first-section{
  background-image: url("images/desktop/image-hero.jpg");
  height: 80vh;
  width: 552px;
  }
  
  footer{
    width: 116%;
    height: 80vh;
  }

   .vr-container-wrapper{
    padding-bottom: 200px;
    margin-left: -45px;
  }

   .first-section-box button {
    width: 450px;
    margin-left: -30px;
  }
}

@media screen and (max-width: 375px) {
   .first-section{
  background-image: url("images/desktop/image-hero.jpg");
  height: 80vh;
  width: 144.5%;
  }
  
  footer{
    width: 117.5%;
    height: 70vh;
  }

   .vr-container-wrapper{
    padding-bottom: 200px;
    margin-left: -48px;
  }

}

@media screen and (max-width: 365px) {
   .first-section{
  background-image: url("images/desktop/image-hero.jpg");
  height: 80vh;
  width: 146%;
  }
  
  footer{
    width: 118.5%;
    height: 70vh;
  }

   .vr-container-wrapper{
    padding-bottom: 200px;
    margin-left: -50px;
  }

   .first-section-box button {
    width: 430px;
    margin-left: -25px;
  }

}
